<template>
  <f7-page back-link-url="" color-theme="black">
    <f7-navbar>
      <f7-nav-left @click="logout" back-link="Logout"></f7-nav-left>
      <f7-nav-title>Session Table</f7-nav-title>
    </f7-navbar>
    <f7-card class="center">
      <f7-card-header class="center">Session Table</f7-card-header>
      <f7-card-content >
        <f7-swiper pagination>
          <f7-swiper-slide  v-for="(row,i) in table" :key="row.id">
            <f7-card class="card">
              <f7-card-header>
                {{dates[i]}}
              </f7-card-header>
              <f7-card-content>
                <f7-row no-gap v-for="(col,j) in row" :key="col.id">
                  <f7-col width="40" class="col-time">{{times[j]}}</f7-col>
                  <f7-col v-if="!col" width="60" class="col-untick"></f7-col>
                  <f7-col v-else width="60" class="col-tick"></f7-col>
                </f7-row>
              </f7-card-content>
            </f7-card>
          </f7-swiper-slide>
        </f7-swiper>
      </f7-card-content>
    </f7-card>
  </f7-page>
</template>
<script>
  import F7Card from "framework7-vue/src/components/card";
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import {db, auth} from '../../firebase';
  import F7Button from "framework7-vue/src/components/button";
  import * as _ from 'lodash';
  import moment from 'moment';
  export default {
    /**
     * things to do:
     * in before mount:
     *  1)check uid and sid,
     *  2)connect to db on table [entire session  table]
     *    2.1)put it in tables,
     *    2.2)calculate them in table by calling function
     *  3)check auth state change,
     * Functions:
     *  calculate all the tables from the db and calculate in 1 table
     *
     */
    components: {F7Button, F7CardHeader, F7Card},
    beforeMount() {
      const sid = this.$f7route.params.sid;
      // const sid = "itiw8vrcj";
      if (sid === null) {
        alert("Permission Denied!");
        this.$f7router.navigate("/");
      }
      const dbRefs = db.ref("/session/" + sid + '/tables/');

      auth.onAuthStateChanged(user => {
        let tempTable = _.map(this.table, _.clone);
        if (user) {
          const uid = auth.currentUser.uid;
          dbRefs.once("value").then((snapshot) => {
              const users = snapshot.val();
              if (users){
                const currentUser = users[uid];
                // ('currUserObj',currentUser);
                Object.keys(currentUser).map(key => {
                  const {i, j} = currentUser[key];
                  tempTable[i][j] = true;
                })
              }
            }
          )
            .then(() => {
              this.table = tempTable;
            })
        }
      });

      //get the tables from the database and pass it into the function to generate the shown table
      //we should make it have different color, but thats for later
      dbRefs.on("value", (snapshot) => {
        let users = snapshot.val();
        if(users){
          let tables = [];
          Object.values(users).forEach((table) => {
            tables.push(table);
          });
          this.createTable(tables);
        }
      });

      const dbRefs2 = db.ref("/session/" + sid + "/start");
      dbRefs2.once('value',(snapshot) => {
        let start = snapshot.val();
        if (start){
          let tdates = _.map(this.dates,_.clone);
          let current_date = moment(start,"YYYYMMDD");
          for (let i = 0; i < 7; i++){
            let temp_date = moment(current_date.format("YYYYMMDD"),"YYYYMMDD");
            tdates[i] = temp_date.format("MMMM Do YYYY: dddd");
            current_date.add(1,'d');
          }
          this.dates = tdates;
        }
      });
    },
    beforeDestroy(){
      // db.off();
    },
    data(){
      return {
        dates: ["YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day"],
        og_table: [
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
        ],
        table: [
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
        ],
        times: [
          "08.00-10.00",
          "10.00-12.00",
          "12.00-14.00",
          "14.00-16.00",
          "16.00-18.00",
          "18.00-20.00",
        ]
      }
    }
    ,
    methods: {
      /**
       * given all tables
       * @param tables
       */
      createTable(tables){
        let n_table = _.map(this.og_table, _.clone);
        tables.forEach((table) => {
          table.forEach((row, i) => {
            row.forEach((cell, j) => {
              if(cell){
                n_table[i][j] = cell
              }
            })
          })
        });
        this.table = n_table;
      },
      logout(){
        this.$store.dispatch('userSignOut')
          .then(()=>{this.$f7router.back()})
      },
    }
  }

</script>
<style scoped>
</style>

