<template>
  <f7-page back-link-url="" color-theme="black">
    <f7-navbar>
      <f7-nav-left @click="logout" back-link="Logout"></f7-nav-left>
      <f7-nav-title>User Table</f7-nav-title>
    </f7-navbar>
    <f7-card class="center">
      <f7-card-header class="center">User Table</f7-card-header>
      <f7-card-content >
        <f7-swiper pagination>
          <f7-swiper-slide v-for="(row,i) in table" :key="row.id">
            <f7-card class="card">
              <f7-card-header>
                {{dates[i]}}
              </f7-card-header>
              <f7-card-content>
                <f7-row no-gap v-for="(col,j) in row" :key="col.id">
                  <f7-col width="40" class="col-time">{{times[j]}}</f7-col>
                  <f7-col v-if="!col" width="60" class="col-untick"><f7-button  class="button-big color-white" @click="()=>flipDates(i,j)" ></f7-button></f7-col>
                  <f7-col v-else width="60" class="col-tick"><f7-button class="button-big color-yellow" @click="()=>flipDates(i,j)" ></f7-button></f7-col>
                </f7-row>
              </f7-card-content>
            </f7-card>
          </f7-swiper-slide>
        </f7-swiper>
      </f7-card-content>
    </f7-card>
  </f7-page>
</template>
<script>
  import F7Card from "framework7-vue/src/components/card";
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import {db, auth} from '../../firebase';
  import F7Button from "framework7-vue/src/components/button";
  import * as _ from 'lodash';
  import moment from 'moment';
  export default {
    /**
     * beforeMount:
     *  1) check uid and sid -> done
     *  2) set authstate change -> done
     *  3) chil change -> done
     */
    components: {F7Button, F7CardHeader, F7Card},
    beforeMount() {
      const sid = this.$f7route.params.sid;
      const uid = this.$f7route.params.uid;
      // const sid = "itiw8vrcj";
      // const uid = "hackinteach";
      //(this.$f7route.params);
      if (sid === null || uid === null) {
        alert("Permission Denied!");
        this.$f7router.navigate("/");
      }

      const dbRefs = db.ref("/session/" + sid + '/tables/' + uid +'/');

      auth.onAuthStateChanged(user => {
        if (user === null) {
          this.$f7router.navigate("/");
        }
      });

      dbRefs.on("value", (snapshot) => {
        const table = snapshot.val();
        let tempTable = _.map(this.table, _.clone);
        if(table){
          table.forEach((row,i) => {
            row.forEach((cell,j) => {
              tempTable[i][j] = cell;
            })
          });
          this.table = tempTable;
        }
      });

      //get the start and create the dates
      const dbRefs2 = db.ref("/session/" + sid + "/start");
      dbRefs2.once('value',(snapshot) => {
        let start = snapshot.val();
        if (start){
          let tdates = _.map(this.dates,_.clone);
          let current_date = moment(start,"YYYYMMDD");
          for (let i = 0; i < 7; i++){
            let temp_date = moment(current_date.format("YYYYMMDD"),"YYYYMMDD");
            tdates[i] = temp_date.format("MMMM Do YYYY: dddd");
            current_date.add(1,'d');
          }
          this.dates = tdates;
        }
      });
    },
    beforeDestroy(){
      // const dbRefs = db.ref("/session/" + sid + '/tables/' + uid +'/');
      // dbRefs.off();
    },
    data(){
      return {
        dates: ["YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day","YYYYMMDD: Day"],
        table: [
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
          [false,false,false,false,false,false],
        ],
        uid: this.$f7route.params.uid,
        sid: this.$f7route.params.sid,
        times: [
          "08.00-10.00",
          "10.00-12.00",
          "12.00-14.00",
          "14.00-16.00",
          "16.00-18.00",
          "18.00-20.00",
        ]
      }
    }
    ,
    methods: {
      /**
       * flow of information:
       * 1)
      /**
       * TODO: remove the old table of this uid, push in the new table
       * @param i
       * @param j
       */
      flipDates(i,j){
        const sid = this.$f7route.params.sid;
        const uid = this.$f7route.params.uid;
        // const sid = "itiw8vrcj";
        // const uid = "hackinteach";
        const dbRefs = db.ref("/session/" + sid + '/tables/' + uid + '/');
        let temp = _.map(this.table, _.clone);
        temp[i][j] = !temp[i][j];
        dbRefs.set(temp);
      },
      logout(){
        this.$store.dispatch('userSignOut')
          .then(()=>{this.$f7router.back()})
      },
    }
  }

</script>
<style scoped>
</style>

