<template>
  <f7-card class="center">
    <f7-card-header class="center">Create Session</f7-card-header>
    <f7-card-content>
      <f7-list inline-labels no-hairlines-md>
        <f7-list-item :style="{margin:'1em'}" v-for="(item,k) in input" :key="k">
          <f7-icon :material="item.icon" slot="media"></f7-icon>
          <f7-input :type="item.type"
                    :placeholder="item.placeholder"
                    :value="item.value"
                    @input="item.value = $event.target.value"
                    :required="item.required"></f7-input>
        </f7-list-item>
      </f7-list>
    </f7-card-content>
    <f7-card-footer class="center">
      <f7-button @click="createSession">
        Create
      </f7-button>
    </f7-card-footer>
  </f7-card>
</template>

<script>
  import F7Card from "framework7-vue/src/components/card";
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import {db, auth} from '../../firebase';
  import F7Button from "framework7-vue/src/components/button";
  import * as _ from 'lodash';
  import F7ListItem from "framework7-vue/src/components/list-item";
  import Moment from 'moment';

  export default {
    components: {F7ListItem, F7Button, F7CardHeader, F7Card},
    created() {
      /* Initiate form */
      this.input = {
        username: this.generateInput('account_circle', 'Username', 'text', true, ''),
        password: this.generateInput('https', 'Password', 'password', true, ''),
        email: this.generateInput('email', 'Email', 'email', true, ''),
        className: this.generateInput('style', 'Class Name', 'text', true, ''),
        classDescription: this.generateInput('description', 'Class Description', 'textarea', false, '')
      };
    },
    data() {
      return {
        input: {},
      }
    },
    methods: {
      generateInput(icon, placeholder, type, required, value) {
        return {
          icon,
          placeholder,
          value,
          type,
          required
        }
      },
      reduce() {
        return _.reduce(this.input, (res, obj, name) => {
          return _.reduce(obj, (r, v, k) => {
            if (k === 'value') {
              res[name] = v;
            }
            return res;
          }, {});
        }, {});
      },

      createSession() {
        const {username, password, email, className, classDescription} = this.reduce();
        const today = Moment().format("YYYYMMDD");
        const demail = username + '@makeupscheduler.com';
        const sid = Math.random().toString(36).substring(2, 8) + Math.random().toString(36).substring(2, 5);
        this.$store.dispatch('userSignUp', {
            email: demail,
            password: password,
            code: sid,
          })
          .then(() => {
            const user = auth.currentUser.uid;
            const dbRefs = db.ref("session/" + sid);
            dbRefs.set(
              {
                description: classDescription,
                owner: {
                  uid: user,
                  username: username,
                  email: email,
                },
                users: [username],
                id: sid,
                name: className,
                start: today,
              }
              )
              .then(
                () => {
                  const dbRefs = db.ref("/emailProxy/");
                  dbRefs.push({
                    mail: email,
                    owner: username,
                    code: sid,
                    // link: link,
                    name: className,
                  });
                }
              )
              .then(() => {
                  this.$f7router.navigate(`/session/${sid}/${username}`);
            })
          })
          .catch(()=>{
            const err = this.$store.getters.getError
            this.openAlerts(err);
          })
      },
      openAlerts(msg) {
        const app = this.$f7;
        app.dialog.alert(msg,"Error");
      },
    }
  }
</script>

<style scoped>

</style>
