<template>
  <f7-card class="center">
    <f7-card-header class="center">
      Join Session
    </f7-card-header>
    <f7-card-content>
      <f7-list inline-labels no-hairlines-md>
        <f7-list-item inline-label :style="{margin:'1em'}" v-for="(item,k) in input" :key="k">
          <f7-icon :material="item.icon" slot="media"></f7-icon>
          <f7-input :type="item.type"
                    :placeholder="item.placeholder"
                    :value="item.value"
                    @input="item.value = $event.target.value"
                    :required="item.required"></f7-input>
        </f7-list-item>
      </f7-list>
    </f7-card-content>
    <f7-card-footer class="center">
      <f7-button @click="joinSession">Join</f7-button>
    </f7-card-footer>
  </f7-card>
</template>

<script>
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import F7PageContent from "framework7-vue/src/components/page-content";
  import F7CardFooter from "framework7-vue/src/components/card-footer";
  import F7Button from "framework7-vue/src/components/button";
  import F7List from "framework7-vue/src/components/list";
  import F7Label from "framework7-vue/src/components/label";
  import {db, auth} from "../../firebase";
  import * as _ from 'lodash';

  export default {
    components: {F7Label, F7List, F7Button, F7CardFooter, F7PageContent, F7CardHeader},
    data() {
      return {
        input: {
          username: this.generateInput('account_circle', 'Username', 'text', true, ''),
          password: this.generateInput('https', 'Password', 'password', true, ''),
          sessionCode: this.generateInput('school', 'Session Code', 'text', true, '')
        }
      }
    },
    methods: {
      reduce() {
        return _.reduce(this.input, (res, obj, name) => {
          return _.reduce(obj, (r, v, k) => {
            if (k === 'value') {
              res[name] = v;
            }
            return res;
          }, {});
        }, {});
      },
      generateInput(icon, placeholder, type, required, value) {
        return {
          icon,
          placeholder,
          value,
          type,
          required
        }
      },
      joinSession() {
        const {username, password, sessionCode} = this.reduce();
        const email = username + '@makeupscheduler.com';
        const dbRefs = db.ref('/session');
        let validCode = false;

        // console.log(username, password,sessionCode);

        dbRefs.once('value').then(
          snapshot => {
            const sessions = snapshot.val();
            _.mapKeys(sessions, (v, k) => {

              // find existing user
              const user = _.find(v.users, (u) => {
                return u === username;
              });

              // console.log('user', user);

              if (k === sessionCode) {
                validCode = true;
                /* User already registered */
                if (user) {
                  //("user sign in");
                  this.$store.dispatch('userSignIn', {
                    email: email,
                    password: password,
                    code: sessionCode
                  })
                    .then(() => {
                      const err = this.$store.getters.getError

                      if(err){
                        this.openAlerts(err)
                      }else{
                        this.$f7router.navigate('/session/' + sessionCode + '/' + username);
                      }
                    })
                } else {
                  //("user log out");
                  this.$store.dispatch('userSignUp', {
                    email: email,
                    password: password,
                    code: sessionCode
                  }).then(() => {
                    this.$f7router.navigate('/session/' + sessionCode + '/' + username);
                  }).catch(() => {
                    const err = this.$store.getters.getError;
                    if (err) {
                      this.openAlerts(err)
                    }
                  })
                }
              }
            })
          }
        ).then(() => {
          if (!validCode) {
            this.openAlerts("Invalid Session Code");
          }

        })

      },
      openAlerts(msg) {
        const app = this.$f7;
        app.dialog.alert(msg, "Error");
      },
    }
  }
</script>

<style scoped>

</style>
