<template>
  <f7-page color-theme="black">
    <f7-navbar>
      <f7-nav-title>Makeup Scheduler</f7-nav-title>
    </f7-navbar>
    <!--Tab bar-->
    <f7-toolbar bottom-md tabbar labels>
      <f7-link icon-fa="sign-in-alt" text="Join" tab-link-active tab-link="#tab1"></f7-link>
      <f7-link icon-fa="user-plus" text="Create" tab-link="#tab2"></f7-link>
    </f7-toolbar>
    <!--TABS-->
    <f7-tabs>
      <f7-tab tab-active  id="tab1">
        <join/>
      </f7-tab>
      <f7-tab id="tab2">
        <create/>
      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>
<script>
  import Join from './auth/Join';
  import Create from './auth/Create';
  import F7Icon from "framework7-vue/src/components/icon";
  import Session from './session.vue';
  import Info from './Info';
  import Send from './sendEmail';
  import UserTable from './session/UserTable';
  import SessionTable from './session/SessionTable';
export default {
  components:{F7Icon, Join, Create, Session, Info, Send, UserTable, SessionTable}
}
</script>
