<template>
  <f7-page color-theme="black">
    <f7-navbar>
      <f7-nav-title>Makeup Scheduler</f7-nav-title>
    </f7-navbar>
    <f7-card class="center">
      <f7-card-header class="center">Information</f7-card-header>
      <f7-card-content>
        <p class="headline">Class Description : {{session.name}}</p>
        <a class="subheading" :style="{color: 'red'}">Join Code : </a>
        <a class="display-3">
          {{session.sid}}
        </a>
        <!--<f7-icon :material="insert_link"></f7-icon>-->
        <p class="subheading" :style="{color: 'black'}"> Share this link to your members</p>
        <a class="body-1" :href="'https://'+url">https://{{url}}</a>
        <q-r-code class="qr-img" :style="{marginLeft: '110px', margiRight: 'auto'}" :size="100" :text="url"/>
      </f7-card-content>
    </f7-card>

  </f7-page>
</template>

<script>
  import {db, func} from '../firebase';
  import QRCode from "vue-qrcode-component";
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import F7PageContent from "framework7-vue/src/components/page-content";
  import F7CardFooter from "framework7-vue/src/components/card-footer";
  import F7Button from "framework7-vue/src/components/button";
  import F7List from "framework7-vue/src/components/list";
  import F7Label from "framework7-vue/src/components/label";
  import F7CardContent from "framework7-vue/src/components/card-content";
  import Create from './auth/Create';
  import Join from './auth/Join';
  import Info from './Info';

  export default {
    components: {F7CardHeader, F7CardContent, QRCode, Create, Join, Info},
    data: () => ({
      session: {sid: ""},
      url: '',
      emails: [],
      emailEmpty: true,
    }),

    //----------temp----------------------------
    created(){
      //======= temp for now ==========
      const sid = this.$f7route.params.sid;
      //(sid);
      this.url = 'makeup-scheduler.firebaseapp.com/session/' + sid;
      this.session = {sid: sid};
      //================================
    },

    //----------temp----------------------------

    beforeCreate() {


      // const sid = this.$route.params.id;

      // const sname = this.$route.query.name;
      // const dbRef = db.ref('session/' + sid);
      //
      // dbRef.once('value').then(snapshot => {
      //   if (snapshot.val() === null) {
      //     this.$router.push('/');
      //   }
      //   const k = Object.keys(snapshot.val())[0];
      //   const s = snapshot.val()[k];
      //   this.session = s;
      //   this.url = 'makeup-scheduler.firebaseapp.com/session/' + s.id;
      //  (sid, this.session);
      // })
      //   .then(() => {
      //     if (sid !== this.session.id || sid === null) {
      //       this.$router.push("/");
      //     }
      //   })
    },

    watch: {
      emails() {
        this.emailEmpty = this.emails.length === 0;
      }
    },

    methods: {
      remove(item) {
        this.emails.splice(this.emails.indexOf(item), 1);
        this.emails = [...this.emails]
      },
      openAlerts(msg) {
        const app = this.$f7;
        app.dialog.alert(msg,"Error");
      },

      sendMail() {
        const link = 'https://' + this.url;
        const {sid, owner,name} = this.session;
        const {username} = owner;
        const dbRefs = db.ref("/emailProxy");
        this.emails.forEach(mail => {
          dbRefs.push({
            mail: mail,
            owner: username,
            code: sid,
            link: link,
            name: name,
          });
        });
        this.emails = [];
        this.openAlerts("Email sent !");
      },

      next(){
        //(`Pushed ${this.$route.query.id}`);
        this.$router.push("/session/"+this.$route.query.sid);
      }
    },
  }
</script>

<style scoped>
  .qr-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }

  .email-select {
    max-width: 80%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    margin: 1em auto 1em;
  }

  .divider {
    margin: 1em 0 1em;
  }

  .my-card {
    margin: 2em;
    padding: 2em;
  }

  .bgImg {
    background-image: url("../assets/bg/2.jpg");
    min-height: 100%;
    background-size: cover;
  }

</style>
