<template>
  <f7-card class="center">
    <f7-card-header class="center">Send Invite Email</f7-card-header>
    <f7-card-content>
      <f7-list inline-labels no-hairlines-md>
        <f7-list-item :style="{margin:'1em'}" v-for="(item,k) in input" :key="k">
          <f7-icon :material="item.icon" slot="media"></f7-icon>
          <f7-input :type="item.type"
                    :placeholder="item.placeholder"
                    :value="item.value"
                    @input="item.value = $event.target.value"
                    :required="item.required"></f7-input>
        </f7-list-item>
      </f7-list>
    </f7-card-content>
    <f7-card-footer class="center">
      <!--<f7-icon :material="paper_plane" slot="media"></f7-icon>-->
      <f7-button @click="sendMail">
        Send
      </f7-button>
    </f7-card-footer>
  </f7-card>
</template>

<script>
  import Join from './auth/Join';
  import Create from './auth/Create';
  import F7Icon from "framework7-vue/src/components/icon";
  import F7Card from "framework7-vue/src/components/card";
  import {db, func} from '../firebase';
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import F7PageContent from "framework7-vue/src/components/page-content";
  import F7CardFooter from "framework7-vue/src/components/card-footer";
  import F7Button from "framework7-vue/src/components/button";
  import F7List from "framework7-vue/src/components/list";
  import F7Label from "framework7-vue/src/components/label";
  import F7CardContent from "framework7-vue/src/components/card-content";


  export default {
    // components:{F7Icon, Join, Create}
    components: {F7Icon, F7CardHeader, F7Card},
    created(){
      const sid = this.$f7route.params.sid;
      // const sid = "nr3jikpni";
      //(sid);
      this.url = 'makeup-scheduler.firebaseapp.com/session/' + sid;
      // this.session = {id: sid};

      const dbRef = db.ref('session/' + sid);
      dbRef.once('value').then(snapshot => {
        if (snapshot.val() === null) {
          this.$f7router.navigate('/');
        }
        // const k = Object.keys(snapshot.val());
        // (k)
        const s = snapshot.val();
        this.session = s;
        this.url = 'makeup-scheduler.firebaseapp.com/session/' + s.sid;
        //(sid, this.session);
      })
        .then(() => {
          if (sid !== this.session.sid || sid === null) {
            this.$f7router.navigate("/");
          }
        })


      /* Initiate form */
      this.input = {
        email: this.generateInput('email', 'Email', 'email',true)
      };
    },
    data() {
      return {
        input: {},
        session: {id: ""},
        url: ''
      }
    },


    methods: {
      generateInput(icon, placeholder, type,required) {
        return {
          icon,
          placeholder,
          value: '',
          type,
          required
        }
      },
      remove(item) {
        this.emails.splice(this.emails.indexOf(item), 1);
        this.emails = [...this.emails]
      },


      reduce(){
        return _.reduce(this.input, (res,obj,name)=>{
          return _.reduce(obj, (r,v,k)=>{
            if(k === 'value'){
              res[name] = v;
            }
            return res;
          },{});
        },{});
      },

      openAlerts(msg) {
        const app = this.$f7;
        app.dialog.alert(msg, "Error");
      },

      sendMail() {
        const {email} = this.reduce();
        //(email)
        let elst = email.split(",");
        elst = elst.map(e => {
          return e.trim()
        });
        //(elst)
        const link = 'https://' + this.url;
        const {id, name} = this.session;
        const username = this.session["owner"]["username"];
        const dbRefs = db.ref("/emailProxy");
        elst.forEach(mail => {
          dbRefs.push({
            mail: mail,
            owner: username,
            code: id,
            link: link,
            name: name,
          });
        });
        this.emails = [];
        this.openAlerts("Email sent !");
      }
    }
  }
</script>


<style scoped>
  .qr-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }

  .email-select {
    max-width: 80%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    margin: 1em auto 1em;
  }

  .divider {
    margin: 1em 0 1em;
  }

  .my-card {
    margin: 2em;
    padding: 2em;
  }

  .bgImg {
    background-image: url("../assets/bg/2.jpg");
    min-height: 100%;
    background-size: cover;
  }

</style>
