<template>
  <f7-page back-link-url="" color-theme="black">
    <f7-navbar>
      <f7-nav-left @click="$f7router.back()" back-link="Logout"></f7-nav-left>
      <f7-nav-title>Session</f7-nav-title>
      <f7-nav-right>
        <f7-link icon="icon-bars"></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!--TAB-BAR-->
    <f7-toolbar bottom-md tabbar labels>
      <f7-link icon-fa="sign-in-alt" text="Session" tab-link-active tab-link="#ses"></f7-link>
      <f7-link icon-fa="sign-in-alt" text="User" tab-link="#user"></f7-link>
      <f7-link icon-fa="sign-in-alt" text="Info" tab-link="#info"></f7-link>
      <f7-link icon-fa="sign-in-alt" text="Invite" tab-link="#inv"></f7-link>
    </f7-toolbar>
    <!--TABS-->
    <f7-tabs>
      <f7-tab id="ses" tab-active>
        <SessionTable />
      </f7-tab>
      <f7-tab id="user">
        <UserTable />
      </f7-tab>
      <f7-tab id="info">
        <Info/>
      </f7-tab>
      <f7-tab id="inv">
        <Invite/>
      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>
<script>
  /**
   * the left is the logout icon, logging the user out and back to the '/'
   * the right is the navigate to info, pushing user to '/info/sid'
   */
  import F7Card from "framework7-vue/src/components/card";
  import F7CardHeader from "framework7-vue/src/components/card-header";
  import {db, auth} from '../../firebase';
  import F7Button from "framework7-vue/src/components/button";
  import Info from './Info.vue';
  import Invite from './sendEmail.vue';
  import SessionTable from './session/SessionTable.vue';
  import UserTable from './session/UserTable.vue';
  import * as _ from 'lodash';
  export default {
    components: {F7Button, F7CardHeader, F7Card, Info, Invite, SessionTable, UserTable},
    data(){
      return {
        session: {
          uid: "",
          sid: "",
          info_link: "",
          invite_link: "",
          user_table_link: "",
          session_table_link: "",
        }
      };
    },
    beforeMount(){
      let sid = this.$f7route.params.sid;
      let uid = this.$f7route.params.uid;
      if(sid === null || uid === null){
        this.openAlerts("Permission Denied!");
        this.$f7router.navigate("/");
      }
      let tempt = Object.assign({}, this.session);
      tempt.uid = uid;
      tempt.sid = sid;
      tempt.info_link = "/info/" + sid + "/" + uid;
      tempt.invite_link = "/send/" + sid + "/" + uid;
      tempt.user_table_link = "/table/session/" + sid + "/" + uid;
      tempt.session_table_link = "/table/user/" + sid + "/" + uid;
      this.session = tempt;
    },
  }
</script>
