.center {
  justify-content: center;
  align-content: center;
  text-align: center;
}

div[class*="col-time"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 13px;
  margin-bottom: 0px;
  font-size: 12px;
}
div[class*="col-untick"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  height: 44px;
}
div[class*="col-tick"] {
  background: #ff0;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  height: 44px;
}
